h1{
	text-indent: -449px;
	text-align: center;
	color: white;
	font-family: "garamond",serif;
	margin: 0px;
}
h3{
	text-indent: -420px;
	text-align: center;
	color: white;
	font-family: "garamond",serif;
	margin-top: 4px;
}
header, footer, nav{
	display:block;
}
nav, footer{
	clear:both;
	font-family: "garamond",serif;
	background-color:gray;
	height:30px;
}
ul#nav li{
	border-bottom: 1px solid grey;
	list-style:none;
	display:inline;
	padding-right: 8px;
	text-align: center;
	vertical-align: middle;
}
ul#nav li a{
	text-decoration: none;
	text-align: center;
	color:white;
	vertical-align: middle;
	padding-left: 40px;
	padding-right: 40px;
}
ul#nav li a:HOVER, nav li a.current{
	color: #000000;
}
body{
	background-image: url("../images/green_cup.jpg");
	background-position:center;
	font-family:serif;
	line-height: 1.4em;
	margin:0px;
}
.wrapper{
	width: 940px;
	margin: 20px auto 20px auto;
}
div#needtoknow{
	display:inline-block;
	margin: 0px 5px;
	font-family: "garamond", serif;
	width: 659px;
}
section#weekly{
	text-align: center;
}
section#contact{
	text-align: center;
}
h4{
	font-family: "garamond", serif;
	font-size: 18px;
	margin: 4px 5px;
}
header{
	height: 100px;
	background-image:url("../images/swimmer.jpg");
	background-position: left;
	background-repeat: no-repeat;
	margin:20px 20px 0px 20px;
}
footer{
	font-size: 80%;
	color: white;
	padding: 5px 0px 0px 20px;
	margin-bottom: 0px;
}
div#sidesection{
	display: inline-block;
	width: 230px;
	float:right;
	padding: 0px 20px 0px 20px;
}
div#sidesection h2{
	padding: 20px 0px 10px 0px;
	color: white;
	text-align: center;
}