h1{
	text-indent: -499px;
	text-align: center;
	color: white;
	vertical-align:middle;
	width: 940px;
	height: 130px;
	font-family: "garamond",serif;
}
h3{
	text-indent: -499px;
	text-align: center;
	color: white;
	vertical-align:middle;
	width: 940px;
	height: 130px;
	font-family: "garamond",serif;
	margin: 20px;
}
header, footer, nav{
	display:block;
}
nav, footer{
	clear:both;
	font-family: "garamond",serif;
	background-color:gray;
	height:30px;
}
ul#nav li{
	border-bottom: 1px solid grey;
	list-style:none;
	display:inline;
	padding-right: 8px;
	text-align: center;
}
ul#nav li a{
	text-decoration: none;
	text-align: center;
	color:white;
	vertical-align: middle;
	padding-left: 40px;
	padding-right: 40px;
}
body{
	background-image: url("../images/green_cup.jpg");
	background-position:center;
	font-family:serif;
	line-height: 1.4em;
	margin:0px;
}
.wrapper{
	width: 940px;
	margin: 20px auto 20px auto;
}
.section{
	margin: 0px 5px;
}
header{
	height: 100px;
	background-image:url("../images/swimmer.jpg");
	background-position: left;
	background-repeat: no-repeat;
	margin:20px;
}
footer{
	font-size: 80%;
	color: white;
	padding: 5px 0px 0px 20px;
	margin-bottom: 0px;
}